
*{
    margin: 0;
    padding: 0;
}
body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    
}
.main-container{
 background-color:white;
display: grid;
   margin-top: 50px;
   margin-left: 20px;
   margin-right: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    
    
}
.container{
    /* position: relative; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    background-color:rgb(241, 241, 241);
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* margin: 10px; */
   
    
    
   
}
.sub-box{
 /* position: relative; */
 width: 250px;
 height: 200px; 
 padding: 10px; 
 margin: 10px;
 background-color:rgba(255,255,255);
 /* font-size: 2em; */
 /* display: flex;
 /* justify-content: center; */
 text-align: center; 
 border-radius: 10px;
 color:rgba(0,0,0,0.1);
 flex-direction: column; 
 line-height: 25px;
 
}

.sub-box.box1{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);

}
.sub-box.box2{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
  
}
.sub-box.box3{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
    
}
.sub-box.box3{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
    
}

.sub-box.box4{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
   
}
.sub-box.box5{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
    
}
.sub-box.box6{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
    
}
.sub-box.box7{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
    
}
.sub-box.box8{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
    
}
.sub-box.box9{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
   
}
.sub-box.box10{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
}
.sub-box.box11{
    height: 50px;
    box-shadow: 2px 2px 2px 3px rgb(116, 113, 113);
   }
h3{
    color:  #857b7b;
    font-size: 12px;
    text-align: center;

}
p{
    color:rgb(86, 86, 187);
    font-size: 17px;
    
}